.App {
  text-align: center;
  display: grid;
}
.navbar {
  grid-column: 1/3;
  background-color: steelblue;
  color: white;
  display: flex;
  text-align: left;
  padding: 0 0 0 5px;
}
.leftMenu {
  background-color: red;
}
.contentArea {
  width: 100vw;
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
