.App {
  text-align: center;
  display: grid;
  grid-template-columns: 256px calc(100vw - 256px);
  grid-template-rows: 60px calc(100% - 60px);
  grid-template: 2 1 1;
}
.navbar {
  grid-column: 1/3;
  background-color: steelblue;
}
.leftMenu {
  background-color: red;
}
.contentArea {
  background-color: gray;
}
