

.contentArea {
  width: 100vw;
  background-color: lightgray;
  padding: 30px;
}

#card-collection{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

input{
  font-size: 24px;
  font-family: Helvetica;
  padding:10px 10px 10px 5px;
  border:none;
  border-bottom:1px solid black;
  background: lightgray;
  margin: 30px;
}
input:focus{
  outline:none;
}

button{
  min-width: 60px;
  font-size: 18px;
  font-family: Helvetica;
  height: 50px;
  line-height: 50px;
  padding: 0 1.5rem;
  color: #424242;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  user-select: none;
  background-color: steelblue;
  color: white;
  margin: 30px;
}

button:hover{
   cursor: pointer;
   background-color: rgb(70,120,200);
}
